/* 
Taken from w3 schools 
https://www.w3schools.com/css/css_image_gallery.asp 
*/

div.gallery-item {
  text-align: center;
  border: 1px solid #ccc;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.item-description {
  padding: 3rem;
}

div.btn-section {
  padding: 10px;
  background-color: #dbe2ef;
}

.btn-like {
  margin-right: 10rem
}

* {
  box-sizing: border-box;
}

.responsive {
  margin: 0.5rem;
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
